:root {
    --background-color-white: rgb(255, 255, 255);
    --color-white: rgb(255, 255, 255);
    --background-light-gray: rgb(243, 244, 245);
    --color-light-gray: rgb(243, 244, 245);
    --background-color-black: rgb(35, 35, 35);
    --color-black: rgb(35, 35, 35);
    --background-color-gray: rgb(98, 98, 98);
    --color-gray: rgb(98, 98, 98);
    --background-light-orange: rgba(255, 93, 7, .1);
    --color-light-orange: rgba(255, 93, 7, .1);
    --background-color-orange: rgb(255 93 7);
    --color-orange: rgb(255 93 7);

    --border-light-gray: rgb(229, 229, 229);
    --border-dark-gray: rgb(191 186 186);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is css of header section */
.eh-body {
    width: 100%;
    height: auto;
}

.eh-body header {
    width: 100%;
    height: 12vh;
    position: sticky !important;
    top: 0;
    z-index: 1000;
    background-color: var(--background-color-white);
}

#eh-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(35, 35, 35, .1) !important;
}

#eh-logo {

    display: inline-block;
    margin-left: 2.50rem;
}

#eh-logo-link {
    text-decoration: none;
}

#eh-navbar {
    display: inline-block;
    padding: 1rem .25rem;
    border-radius: 9999px;
    background-color: var(--background-light-gray);
}

#eh-navbar .nav-links {
    /* margin-right: 10px; */
    padding-left: 1.50rem;
    padding-right: 1.50rem;
    color: var(--color-black);
    text-decoration: none;
    border-radius: 9999px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* font-size: .75rem; */
    line-height: 1rem;
}

#eh-navbar .nav-links:hover {
    color: var(--color-white);
    background-color: var(--background-color-black);
}

.active-link {
    background-color: var(--background-color-black);
    font-weight: 600;
    color: var(--color-white) !important;
}

#eh-account {
    /* display: inline-block; */
    margin-right: 1.25rem;
    display: flex;
    align-items: center;

}

#eh-account .account-link {
    text-decoration: none;
}

#eh-account .account-btn {

    width: 11vw;
    height: 7vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    border: 1px solid var(--border-light-gray);
    cursor: pointer;
    color: var(--color-black);
    /* display: none; */
}

.dropdown .profile-btn {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    /* padding: .25rem; */
    background-color: transparent;
    border: 1px solid var(--border-dark-gray);
    cursor: pointer;
    color: var(--color-black);
    display: none;
}
.border-none
{
    border: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 93, 7, .1);
    font-weight: 500;
    color: var(--color-orange);
}

.dropdown .profile-btn:hover {
    /* font-size: 2rem; */
    background-color: rgba(255, 93, 7, .1);
    font-weight: 700;
    color: var(--color-orange);
}

#eh-account .account-btn:hover {
    border: 1px solid var(--border-dark-gray);

}

#eh-account .account-btn:focus {
    border: 2px solid var(--background-color-black);
}

main {
    width: 100%;
    height: auto;
    /* min-height: 100vh; */
    position: relative;
    /* background-color: var(--background-light-gray); */

}

/* this is home /index page css start */
/* this is css of banner from main section of index / home page  */
#eh-hm-main {
    width: 100%;
    height: auto;
}

#eh-banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/eh-banner.webp);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--color-white) !important;
}

.banner-text {
    margin-top: 10%;
    display: inline-block;
    /* border: 2px solid blue; */
    width: 50%;
    text-align: center;
}

.banner-text h1 {
    display: inline-block;
    /* border: 1px solid salmon; */
    /* text-align: center; */
    width: 100%;
    font-size: 60px;
    line-height: 1.5;
}

.search-links .button1 {
    padding-left: 1.50rem;
    padding-right: 1.50rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: 9999px;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-weight: 700;
}

.search-links {
    text-align: center;
    /* margin-top: 2rem; */
}

.search-links .active-btn {
    color: var(--color-black);
    background-color: var(--background-color-white);
}

.search-links .btns-hover:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

.search-area {
    width: 50%;
    margin-bottom: 2rem;
}

.search-form {
    margin-top: 1.27rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-radius: 20px;
    display: inline-block;
    background-color: var(--background-color-white);
    color: var(--color-black);
}

.form-searchbar {
    display: flex;

    align-items: center;
    column-gap: 3rem;
}

.options {
    width: 20%;
    display: inline-block;
}

.dpdw-btn {
    /* border: 1px solid salmon; */
    margin-top: .5rem;
}

.dpdw-btn button {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2.6rem; */
    background-color: var(--background-color-white);
    border: none;
}

.line {
    width: .1rem;
    height: 70px;
    border: .1px solid var(--color-gray);
    display: inline-block;
}

.search-button button {
    width: 3rem;
    height: 3rem;
    border-radius: 14px;
    background-color: var(--background-color-orange);
    display: grid;
    place-content: center;
    color: var(--color-white);
    border: none;
}

.search-button button:hover {
    box-shadow: 0 4px 14px 0 rgba(255, 93, 7, .3);
    ;

}

/* trending section css */
.trend {
    /* width: 100%; */
    height: auto;
    background-image: linear-gradient(to bottom, white, var(--background-light-gray));
}

.trend-inner,
.city-heading {
    padding: 0rem 4rem;
}

.trend-homes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.city-temp-wrapper {
    width: 100%;
    background-color: var(--background-light-gray);
}

.city-temp {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
    padding: 0rem 4rem;
}

.city {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    color: var(--color-white);
}

.city1 {
    background-image: linear-gradient(to bottom, #00000000, rgba(35, 35, 35, .3), rgba(35, 35, 35, .6)), url(/images/city1.webp);
}

.city2 {
    background-image: linear-gradient(to bottom, #00000000, rgba(35, 35, 35, .3), rgba(35, 35, 35, .6)), url(/images/bengaluru.jpg);
}

.city3 {
    background-image: linear-gradient(to bottom, #00000000, rgba(35, 35, 35, .3), rgba(35, 35, 35, .6)), url(/images/hyderabad.jpg);
}

.city4 {
    background-image: linear-gradient(to bottom, #00000000, rgba(35, 35, 35, .3), rgba(35, 35, 35, .6)), url(/images/delhi.jpg);
}

.city5 {
    background-image: linear-gradient(to bottom, #00000000, rgba(35, 35, 35, .3), rgba(35, 35, 35, .6)), url(/images/city5.webp);
}

.city6 {
    background-image: linear-gradient(to bottom, #00000000, rgba(35, 35, 35, .3), rgba(35, 35, 35, .6)), url(/images/udaipur.jpg);
}

.city-links {
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
}

.service-container {
    background-color: var(--background-light-gray);
    /* margin-bottom: 1rem; */
}

.service-container>h2 {
    margin-top: 5rem;
    margin-left: 4rem;
}

.serve-card {

    border-radius: 1rem;
    padding: 30px;

    background-color: var(--background-color-white);
}
.serve-head
{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

.serve-body {
    margin-top: 3rem;
}

.logos {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    place-content: center;
    display: grid;
    margin-right: 1rem;
}

.serve-name {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: .5rem;
}

.color-orange {
    color: var(--color-orange);
    background-color: var(--background-light-orange);
}

.serve-body>p {
    text-align: justify;
}

.services {
    margin-top: 2rem;
    padding: 2rem 4rem;
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: .75rem;
    column-gap: 1rem;
    margin-bottom: 5rem;
}

/* this is home /index page css end */
/* this is login and register and add home page css starts */

.sl-main,
.add-home-main {
    width: 100%;
    height: auto;
    position: relative;
    /* padding-top: 1.2rem; */
    /* padding-bottom: 1.2rem; */
}

#eh-sl-main,
#eh-addhm-main {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--background-light-gray);
    /* margin-top: 1rem; */
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.width-100 {

    
    width: 100%;
    /* height: auto; */
    background-color: var(--background-light-gray);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.sl-container {

    max-width: 420px;
    margin: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1.5rem;
    background-color: var(--background-color-white);
}
.sl-head
{
    /* display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center; */
    /* flex-direction: row; */
}

.add-hm-container {
    max-width: 600px;
    /* Increased width for better view */
    margin: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1.5rem;
    background-color: var(--background-color-white);
}

.sl-logo,
.add-hm-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: var(--color-orange);
    background-color: rgba(255, 93, 7, .1);
    place-content: center;
    display: grid;
}

.add-hm-logo>svg {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 200px;
}

.sl-heading,
.add-hm-heading {
    /* margin-top: 2.25rem; */
}

.sl-heading h1,
.add-hm-heading h1 {
    font-weight: 600;
    line-height: 2;
    font-size: 1.5rem;
}

#lin-form,
#sin-form,
#add-home-form {
    margin-top: 1.25rem;
}

.sl-label,
.add-hm-label {
    line-height: 1.8;
    font-size: .875rem;
    color: var(--color-gray);
    margin-bottom: .25rem;
    display: flex;
    column-gap: .25rem;
    align-items: center;
}

.sl-in-pos-rel {
    position: relative;
}

.form-input {
    display: block;
    width: 100%;
    border-radius: .75rem;
    border-width: 0;
    background-color: rgb(247 248 250);
    padding: .50rem 1.25rem;
    font-size: 1rem;
    margin-bottom: .25rem;
    line-height: 1.5rem;
    color: var(--color-black);
}

.form-input:focus-visible {
    outline: 2px solid rgba(59, 130, 246, .5);
}

.lin-in .sl-forgot-link {
    color: var(--color-gray);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid var(--color-gray);
    margin-top: .75rem;
}

.lin-in .sl-forgot-link:hover {
    color: var(--color-orange);
}

/* #lin-form .btn-sl,
#sin-form .btn-sl,
#add-home-form .btn-sl,
.modal-body .btn-sl,
#contact-form .btn-sl, */
.btn-sl{
    width: 100%;
    border-radius: 12px;
    margin-top: 2rem;
    padding: .75rem;
    border: none;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-orange);
    color: var(--color-white);
    font-weight: 500;
    gap: 2;
    cursor: pointer;
}

/* #lin-form .btn-sl:hover,
#sin-form .btn-sl:hover,
#add-home-form .btn-sl:hover,
.modal-body .btn-sl:hover,
#contact-form .btn-sl:hover, */
.btn-sl:hover{
    box-shadow: 0 4px 14px 0 rgba(255, 93, 7, .3);
    ;
}

.sl-link {
    margin-top: 2rem;
    color: rgb(17 24 39);
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sl-link .sl-links {
    text-decoration: none;
    color: var(--color-black);
    border-bottom: 1px solid;
    font-weight: 700;
    margin-left: .25rem;
}

.sl-link .sl-links:hover {
    color: var(--color-orange);
    font-weight: 700;
}

/*---------->> add home page css */
.image-preview {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.lin-images ::-webkit-file-upload-button {

    border-radius: 12px;
    padding: .75rem;
    border: none;
    font-size: 1.25rem;
    margin-right: 2rem;
    background-color: var(--background-color-orange);
    color: var(--color-white);
    font-weight: 500;
    cursor: pointer;
}

.lin-images ::-webkit-file-upload-button:hover {
    box-shadow: 0 4px 14px 0 rgba(255, 93, 7, .3);
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.remove-image-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.image-preview-wrapper {
    position: relative;
    margin-bottom: 20px;
}

/* this is login and register page and add home page css ends */


/* this is buy and rent page css starts */
.eh-br-main {
    width: 100%;
    height: auto;
    background-color: var(--background-light-gray);
}

.br-filter-bar {
    background-color: var(--background-color-white);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.br-search {
    margin-left: 1rem;
    position: relative;
    width: 20%;
}
.br-search-btn
{
    background-color: transparent;
    border: none;
}
.br-search input {
    background-color: var(--background-light-gray);
    text-indent: 25px;
    display: inline-block;
}

.br-search input:focus-visible {
    outline: 2px solid var(--color-black);
}

.br-filter-hover:hover {
    background-color: #ecedef;
}

.br-search-icon {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    /* display: inline-block; */
}

.br-search-icon:hover {
    cursor: pointer;
}

/* this is product card section of buy and rent page*/
.card {
    display: inline-block;
    width: 18rem;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    /* Rounded corners for the card */
    overflow: hidden;
    border: none;
}

.card:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.carousel-inner img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* Rounded corners for the image */
    padding: 10px;
}

.carousel-indicators li {
    width: 5px !important;
    height: 5px !important;
    border-radius: 100%;
}

/* Hide the indicators and controls by default */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show indicators and controls on hover */
.card:hover .carousel-control-prev,
.card:hover .carousel-control-next {
    opacity: 1;
}

.card-foot {
    color: var(--color-gray);
    width: 100%;
    height: auto;
    font-size: .8rem;
    padding: .5rem 1.25rem;
    display: flex;
    justify-content: space-between;
}

.card-body p {
    color: var(--color-gray);
}

.hm-area,
.hm-ldk,
.hm-beds {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.rent-title {
    color: var(--color-gray);
    font-size: 1rem;
}

.card .redirect-sh {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* this is buy and rent page css ends */

/* contact form page css starts */
#contact-form {

    /* position: absolute; */
    width: 99%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1rem;
    border: 2px solid var(--border-light-gray);
    background-color: var(--background-light-gray);
}

.contact-inner {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 3%;
}

.cont-us-label {
    line-height: 1.8;
    font-size: .875rem;
    color: var(--color-black);
    margin-bottom: .25rem;
    display: flex;
    column-gap: .25rem;
    align-items: center;
}

.cont-us-pos-rel {
    position: relative;
}

.cont-us-form-input {
    display: block;
    width: 100%;
    border-radius: .75rem;
    border-width: 0;
    background-color: var(--background-color-white);
    padding: .50rem 1.25rem;
    font-size: 1rem;
    margin-bottom: .25rem;
    line-height: 1.5rem;
    color: var(--color-black);
}

.cont-us-form-input:focus-visible {
    background-color: transparent;
    outline: 2px solid rgba(59, 130, 246, .5);
}

.must-have {
    position: absolute;
    top: 0;
    right: .75rem;
    font-weight: 700;
    color: #e06a59;
}

.contact-details {
    display: flex;
    gap: 2rem;
}

/* contact page css ends */

/* about page css starts */

.eh-about-main ,.eh-sh-main  {
    width: 100%;
    height: auto;
    background-color: var(--background-color-white);
}

.about-wrapper {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-container {
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.about-head {
    width: 50%;
    margin: auto;
}

.about-head>h1 {
    text-align: center;
    padding: 30px;
    font-size: 52px;
    line-height: 70px;
}

.about-head p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 30px;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.about-group-photo {
    border-radius: .75rem;
    overflow: hidden;
    margin-top: 3.5rem;

}

.group-photo {
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.about-trusted-emp {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-trusted-emp>h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--color-gray);
    text-align: center;
}

.emp-images {
    column-gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    row-gap: 2rem;
    column-gap: 2.25rem;
    -moz-column-gap: 2.25rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex
}

.about-site-details {
    padding: 60px 60px;
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
}

.site-details {
    gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.detail-card {
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .75rem;
    background-color: rgb(247 248 250);
}

.card-number {
    font-size: 58px;
    line-height: 60px;
    color: var(--color-black);
    font-weight: 600;
}

.card-text {
    margin-top: calc(.5rem* calc(1 - 0));
    margin-bottom: calc(.5rem* 0);
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color-gray);
    font-weight: 500;
}

.about-collective-mission {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: .75rem;
    justify-content: center;

}

.mission-image {
    width: 100%;
    max-width: 645px;
    height: 354px;
    border-radius: .75rem;
}

.mission-image>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: .75rem;

}

.mission-text {
    border: 1px solid var(--border-light-gray);
    width: 100%;
    max-width: 565px;
    border-radius: .75rem;
    background: transparent;
    margin-top: 90px;
    margin-left: -67px;
    padding: 42px;
    backdrop-filter: blur(12px);
    background-color: hsla(0, 0%, 100%, .8);

}

.mission-heading {
    font-size: 2.25rem;
    line-height: 50px;
    margin-bottom: 1.75rem;
    color: var(--color-black);
    font-weight: 600;
}

.text-area {
    font-size: .9rem;
    line-height: 1.5rem;
    color: var(--color-black);
    text-align: justify;
}

/*--------------------------------->>>>>>>>>>>>>   meet the team section  */

.meet-the-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(to bottom, #f7f8fa, #fff);
}

.team-heading {
    font-size: 2.25rem;
    line-height: 50px;
    color: var(--color-black);
    font-weight: 600;
    text-align: center;
}

.team-founder {
    margin-top: 3.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}

.team-card {
    position: relative;
    width: 25%;
    box-shadow: 0 4px 58px 0 hsla(0, 0%, 80%, .13);
    animation-duration: .3s;
    transition-duration: .3s;
    padding-top: 1.25rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-color-white);
    border-radius: .75rem;
    max-width: 336px;
}

.team-card:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.team-card-img {
    width: 100%;
    max-width: 13rem;
    background-color: rgb(229 231 235);
    border-radius: 999px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.team-name {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color-black);
}

.team-post {
    margin-top: calc(.125rem* calc(1 - 0));
    margin-bottom: calc(.125rem* 0);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-gray);
    font-weight: 500;
}

.card-space {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgba(0, 0, 0, .1);
    width: 3.5rem;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.team-socialmedia {
    color: var(--color-gray);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    position: relative;
    gap: 1rem;
}

.team-socialmedia a {
    text-decoration: none;
    color: var(--color-gray);
    transition: transform 0.3s ease, border 0.3s ease;

}

.team-socialmedia a:hover {
    transform: scale(1.3);
    color: var(--color-orange);
}

.why-eh-wrapper {
    padding-top: 60px;
    /* padding-bottom: 60px; */
}

.why-eh-inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.why-eh-heading {
    font-weight: 600;
    color: var(--color-black);
    text-align: center;
    font-size: 2.25rem;
    line-height: 50px;
}
/* why e housing section */

.answers
{
    margin-top: 2rem;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: .75rem;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.answer-card
{
    border-radius: 1rem;
    padding: 30px;
    background-color: var(--background-light-gray);
}
.answer-head
{
    display: flex;
    align-items: center;
}
.color-black
{
    color: var(--color-black);
    border:1px solid rgb(221 221 221);
}
.answer-name
{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: .5rem;
}
.answer-body
{
    margin-top: 3rem;
}
.answer-body > p {
    text-align: justify;
}

/* about page css ends */

/* show home page css starts */

.eh-sh-container
{

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.eh-sh-wrapper
{
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding-bottom: 2.25rem;
    flex-direction: row;
    padding-top: 0;
    margin-top: 2rem;
}
.home-details
{
    width: auto;
    flex-grow: 1;
}
.home-images
{
    position: relative;
    margin-bottom: 2rem;
    height: 350px;
}
.hm-image-wrapper
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .625rem;
}
.image1-div
{
    overflow: hidden;
    border-radius: .75rem;
    background-color: rgb(226 232 240);
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}
.slider-link
{
    text-decoration: none;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.image1 ,.image2 ,.image3 ,.image4 ,.image5
{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.image2-div ,.image3-div ,.image4-div ,.image5-div
{
    cursor: pointer;
    overflow: hidden;
    border-radius: .75rem;
    background-color: rgb(226 232 240);
}
/* .image4-div
{
    grid-column: span 2 / span 2;

} */
.image5-div
{
    position: relative;
}
.image5-cover
{
    width: 100%;
    position: absolute;
    top: 0;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* inset: 0; */
    place-content: center;
    background-color: rgba(35, 35, 35, .7);  
    /* padding: 1rem; */
    font-weight: 600;
    color: var(--color-white);
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: .3rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#buyPriceDropdown
{
    margin: 0px !important;
    padding: 0px !important;
}


/* request tour section */

.requst-tour {
    width: 100%;              /* This will make it take full width of its parent */
    max-width: 376px;         /* Ensures it doesn't grow beyond 376px */
    flex-shrink: 0;
    position: sticky;         /* Sticky position */
    top: 100px;               /* 100px from the top of the viewport */
    z-index: 30;              /* Ensures it layers on top */
    display: block;           /* Ensuring block-level display */
}

.tour-form
{
    margin-top: calc(1.25rem* calc(1 - 0));
    /* margin-bottom: calc(1.25rem* 0); */
    margin-bottom: 1.25rem;
    height: 100%;
}
.form-inner
{
    padding: 1rem;
    background-color: var(--background-light-gray);
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form-heading
{
    position: relative;
    color: var(--color-black);
    font-weight: 600;
    text-align: left;

}
.rt-head
{
    columns: var(--color-black);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}
.form-body
{
    flex-grow: 1;
    margin-top: 1.25rem;
    overflow-y: visible;
}
.form-body-inner
{
    margin-bottom: 2rem;
}
.sh-label
{
    color: var(--color-gray);
    font-size: .875rem;
    line-height: 1.25rem;
    display: block;
    margin-bottom: .25rem;
}
.date-btn
{
    cursor: pointer;
}
.input-btn
{
    width: 100%;
    display: block;
    border-radius: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    color: var(--color-gray);
    background-color: var(--background-color-white);
    font-weight: 500;
    border: none;
    outline: none;
}
.input-btn:focus
{
    border:1px solid rgb(22 123 241 );
}
/* incase you want to change calendar logo in input filed */
/* ::-webkit-calendar-picker-indicator
{
    background-color: var(--background-light-orange);
    color: var(--color-orange);
} */
.home-name-inner
{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column-reverse;
    color: var(--color-black);
}
.home-name
{
    font-size: 2.25rem;
        line-height: 1.375;
        font-weight: 600;
}
.home-address
{
    font-size: 1rem;
        line-height: 1.5rem;
    display: block;

}
.home-info
{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    display: grid;
    gap: 0;
    margin-top: 2.5rem;
    color: var(--color-gray);
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .75rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    border-color: var(--border-light-gray);
}
.info-details
{
    padding: 1.25rem;
    border-right: 1px solid;
    border-color: rgb(229 229 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-details-last
{
border-right: none;
}
.info
{
    font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: .75rem;
        margin-bottom: .75rem;
        color: rgb(0 0 0);
        font-weight: 500;
}
.home-desc-container
{
    margin-top: 4rem;
}
.home-desc-heading
{
    font-weight: 500;
    font-size: 1.25rem;
        line-height: 1.75rem;
        color: var(--color-black);
}
.home-desc-text
{
    font-size: 1rem;
        line-height: 1.5rem;
        color: var(--color-black);
        padding-top: 1.25rem;
        padding-bottom: 0.75rem;
        text-align: justify;
}

/* show home page css ends */

/* footer css starts */

.eh-footer
{
    width: 100%;
    height: auto;
    margin-top: auto;
    background-color: var(--background-color-black);
}

.footer-head
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-items: center;

}
.contact-location
{
    display: flex;
    flex-wrap: wrap;
    color: var(--color-white);
    flex-direction: row;
    gap: 2.5rem;
    font-size: 1rem;
        line-height: 1.5rem;
}
.contact-location a
{
    text-decoration: none;
    color: rgb(191 186 186);
}
.contact-location a:hover
{
    text-decoration: underline;
    color: var(--color-orange);
}
.footer-body
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    max-width: 1440px;
    padding-top: 4rem;
        padding-bottom: 4rem;
        border-top: 1px solid rgb(47 47 47);

    /* display: flex; */
    /* flex-wrap: wrap; */

}
.footer-navbar
{
    /* border: 2px solid yellow; */
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-navbar a
{
    text-decoration: none;
    /* color: var(--color-orange); */
    color: var(--color-white);
    font-weight: 600;
    position: relative;
}
.footer-navbar a::before
{
    content: '';
    width: 100%;    
        height: 4px;
        /* width: 0%; */
        opacity: 0;
        background-color: var(--color-orange);
        border-radius: .75rem;
        position: absolute;
        left: 0px;
        bottom: -15px;
        transition: all 300ms;
}
.footer-navbar a:hover::before
{
    transform: scale(1.4);
    opacity: 1;
        bottom: -5px;
}
.footer-rights
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
        padding-bottom: 1.5rem;


    max-width: 1440px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--border-dark-gray);
    border-top: 1px solid rgb(47 47 47);
    margin: auto;

}
.footer-rights a
{
    text-decoration: none;
    color: inherit;
}
.footer-rights a:hover
{
    text-decoration: underline;
    color: var(--color-orange);
}

/* footer css ends  */